body {
    padding: 2em;
    text-align: justify;
}

.titulo {
    font-size: 3em;
    text-align: center;
}


img {
    width: 20em;
}

.img {
    width: 50em;
}

.parrafo {
    font-size: 1.20em;
}

.group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
}

ul {
    grid-column-start:1 ;
    grid-column-end: 3;
}