@font-face {
    font-family: "Calculator";
    src: url(../fonts/Calculator.ttf);
}


nav{
    position: relative;
    margin: 0 auto 0;
    width: 790px;
    height: 50px;
    background-color: #34495e;
    border-radius: 8px;
    font-size: 0;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .1);
}

nav a{
    font-size: 15px;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    line-height: 50px;
    position: relative;
    z-index: 1;
    display: inline-block;
    text-align: center;
}

nav .animation{
    position: absolute;
    height: 100%;
    top: 0;
    z-index: 0;
    background: #1abc9c;
    border-radius: 8px;
    transition: all .5s ease 0s;
}

nav a:nth-child(1){
    width: 200px;

}

nav .star-home, a:nth-child(1):hover~.animation{
    width: 200px;
    left: 0;
}

nav a:nth-child(2){
    width: 110px;
}

nav  a:nth-child(2):hover~.animation{
    width: 110px;
    left: 200px;
}

nav a:nth-child(3){
    width: 200px;
}

nav  a:nth-child(3):hover~.animation{
    width: 200px;
    left: 310px;
}

nav a:nth-child(4){
    width: 275px;
}

nav  a:nth-child(4):hover~.animation{
    width: 275px;
    left: 515px;
}

nav a:nth-child(5){
    width: 120px;
}

nav  a:nth-child(5):hover~.animation{
    width: 120px;
    left: 470px;
}



#app8g{
    height: 420px;
    width: 310px;
    padding: 0.75em;
    border-radius: 5px;
    margin: 75px auto;
    justify-content: center;
    background-color: #363636;
    box-shadow: 8px 5px 0px #505050;
}

#app8g form{
    height: 100%;
    width: 100%;
    background-color: #363636;
}

#app8g input[type=textfield]{
    height: 25%;
    width: 100%;
    margin:  10px 0;
    cursor: default;
    font-family: "Calculator";
    color: black;
    padding: 1px;    
    background-color: #dfdfdf;
    text-align: right;
    font-size: 70px;
    border-radius: 7px;
    border: 0;
    outline: none;
}

#app8g input[type=button], input[type=reset]{
    width: 22%;
    cursor: pointer;
    font-size: 30px;
    font-family: "Calculator";
    font-weight: bold;
    color: black;
    padding: 16px;
    margin: 3px;
    border: 0;
    border-radius: 15px;
    transition: 100ms all;
}

#app8g .orange{
    background-color: #ffca68;
    color: aliceblue ;
    box-shadow: 0px 3px 0px #b9882d;
}

#app8g .gray{
    background-color:#e7af47;
    box-shadow: 0px 3px 0px #b1822c;
    color: aliceblue;
}

#app8g .white {
    background-color:#FFF;
    box-shadow: 0px 3px 0px #AAA;
}

#app8g .gray:active,  #app8g .orange:active,  #app8g .white:active{
    transition: 75ms all;
    transform: translateY(3px);
    box-shadow: 0 0 0 ;
}
